<!-- tenants.component.html -->
<h2 class="content-block-title">Tenants List</h2>
<div class="content-block">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>County/City</th>
        <th>EIRCODE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tenant of records" [routerLink]="['/tenant', tenant._id]" > 
        <td>{{ tenant.title }}</td>
        <td>{{ tenant.firstName }}</td>
        <td>{{ tenant.lastName }}</td>
        <td>{{ tenant.phoneNumber }}</td>
        <td>{{ tenant.emailAddress }}</td>
        <td>{{ tenant.homeAddress.line1 }}</td>
        <td>{{ tenant.homeAddress.line2 }}</td>
        <td>{{ tenant.homeAddress.town }}</td>
        <td>{{ tenant.homeAddress.countyCity }}</td>
        <td>{{ tenant.homeAddress.eircode }}</td>
      </tr>
    </tbody>
  </table>
</div>
