<h2>Select a Tenant</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Select a tenant</mat-label>
    <mat-select [(value)]="selectedTenantId">
      <mat-option *ngFor="let tenant of tenants" [value]="tenant._id">
        {{ tenant.firstName }} {{ tenant.lastName }} - {{ tenant.phoneNumber }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="addTenant()">Add Tenant</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
